{%extends 'all-news/base.html'%}

 {% block content %}
 <div class="container">
        <div class="card" style="width: 100rem;">
                <img class="card-img-top" src="{{article.article_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.post}}.</p>
                    <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
               </div>
           </div>

 </div>
 

{% endblock %}